.storybook-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
	padding: 12px 64px 16px 32px;
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storybook-header img {
	display: inline-block;
	vertical-align: top;
}

.storybook-header .logo-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	background-color: white;
	border: none;
	cursor: pointer;
	color: #030303;
	text-decoration: none;
}

.storybook-header button + button {
	margin-left: 10px;
}

.storybook-header .navigation {
	list-style-type: none;
	display: flex;
	gap: 2.5em;
	margin: 0;
	padding: 0;
}

.storybook-header .navigation a {
	font-size: 16px;
	text-decoration: none;
	color: #030303;
}
